TestApplication/.vs/TestApplication/xs/UserPrefs.xml
TestApplication/.vs/TestApplication/xs/project-cache/TestApplication-Debug.json
TestApplication/.vs/TestApplication/xs/project-cache/TestApplication.Droid-Debug.json
TestApplication/.vs/TestApplication/xs/project-cache/TestApplication.Tests-Debug.json
TestApplication/.vs/TestApplication/xs/project-cache/TestApplication.iOS-Debug|iPhoneSimulator.json
